<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <style type="text/css">
		
    </style>
    <link href = "{{ url_for('static', filename ='login.css')}}" rel ="stylesheet">
</head>
<body>
    
    <span id = "background"></span>
    <span id = "panel">
    <span id = "main-text"> Log In</span>
    <a id = "switch" href = "{{url_for('signup')}}">Don't have an account? Sign up here</a> 
    <input id = "usernamein" placeholder="Input Email"></input>
<input type = "password" id = "passwordin" placeholder="Input Password">


</input >
<p id = 'username'>Username</p>
<p id = 'pwd'>Password</p>
<button id = "auth" onclick = "authenticate()">Log In</button>
<p id = "respond"></p>
</span>
<span class = "container"></span>
<script type="text/javascript", src = "{{url_for('static', filename = 'login.js')}}"></script>
</body>
</html>